<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout">
<head th:replace="layout :: common-header">
    <title>E-Customer Register</title>
</head>
<body>
<div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/control-sidebar"></div>
    <div th:replace="fragments/sidebar"></div>

    <main id="main-container" style="min-height: 630px;">
        <div class="bg-image" th:style="'background-image: url(' + @{/assets/img/photos/photo26@2x.jpg} + ');'">
            <div class="bg-black-op-75">
                <div class="content content-top content-full text-center">
                    <div class="py-20">
                        <h1 class="h2 font-w700 text-white mb-10">Purchase Request</h1>
                        <h2 class="h4 font-w400 text-white-op mb-0">PT Cahaya Mapan Moro Anugrah</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="content">
            <!-- Page Content -->
            <form th:action="@{'/app/so/order/submit'}">
                <div class="content">
                <!-- Invoice -->
                <h2 class="content-heading d-print-none">
                    Revisi Purchase Request
                </h2>
                <div class="block">
                    <div class="block-header block-header-default">
                        <h3 class="block-title"><input type="hidden" name="id" th:value="${pr.purchaseReqId}"/><a th:text="${pr.purchaseRequestNumber}"></a></h3>
                        <div class="block-options">
                            <!-- Print Page functionality is initialized in Codebase() -> uiHelperPrint() -->
                            <button type="button" class="btn-block-option" onclick="Codebase.helpers('print-page');">
                                <i class="si si-printer"></i> Print Purchase Request
                            </button>
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                <i class="si si-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row my-20">
                            <div class="col-6">
                                <p class="h3"><a th:text="${pr.outlet.masterLocation.locationName}"></a></p>
                                <address>
                                    <a th:text="${pr.outlet.masterLocation.address}"></a><br>
                                    <a class="font-w600 mb-5 text-primary" th:text="${pr.user.firstName}"></a> <a class="font-w600 mb-5 text-primary" th:text="${pr.user.lastName}"></a><br>
                                    <a th:text="${pr.user.email}"></a>
                                </address>
                            </div>

                            <div class="col-6 text-right">
                                <!--<p class="h3">Client</p>-->
                                <address>
                                    Tanggal pakai: <a th:text="${pr.useDate}"></a><br>
                                    <blockquote class="blockquote text-right">
                                        <p><a class="blockquote-footer">Untuk Kebutuhan</a></p>
                                        <p><a th:text="${pr.remarks}"></a></p>
                                    </blockquote>
                                </address>
                                <div th:switch="${pr.requestStatus.name()}">
                                    <span th:case="'TERTUNDA'" class="badge badge-secondary"><i class="fa fa-clock-o mr-5"></i>TERTUNDA</span>
                                    <span th:case="'DIPROSES'" class="badge badge-info"><i class="fa fa-cogs mr-5"></i>DIPROSES</span>
                                    <span th:case="'SELESAI'" class="badge badge-success"><i class="fa fa-check mr-5"></i>SELESAI</span>
                                    <span th:case="'DIBATALKAN'" class="badge badge-danger"><i class="fa fa-ban mr-5"></i>DIBATALKAN</span>
                                    <span th:case="'REVISI'" class="badge badge-warning"><i class="fa fa-calculator mr-5"></i>REVISI</span>
                                </div>
                            </div>
                        </div>

                        <div class="block">
                            <div class="table-responsive">
                                <table id="detTbl" class="table table-responsive table-borderless text-center mb-0">
                                    <thead class="bg-gd-lake">
                                    <tr>
                                        <th class="py-20" style="width: 150px;"></th>
                                        <th class="text-center py-20">Permintaan</th>
                                        <th class="text-center py-20">Unit</th>
                                        <th class="text-center py-20">Sisa Stok</a></th>
                                        <th class="text-center py-20">SO</th>
                                        <th class="text-center py-20">Catatan</th>
                                        <th class="text-center py-20">Outlet</th>
                                        <th class="d-print-none py-20">aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="itemReq, iterator : ${itemList}">
                                        <td class="font-w600 text-right"><input type="hidden" name="itemId" th:value="${itemReq.requestItemId}"/><a th:text="${itemReq.inventory.masterItem.itemName}"></a></td>
                                        <td><span class="badge badge-pill badge-primary"><a th:text="${itemReq.qtyReq}"></a></span></td>
                                        <td><a th:text="${itemReq.inventory.masterItem.unitItem.unitName}"></a></td>
                                        <td><a th:text="${itemReq.inventory.stock}"></a></td>
                                        <td>
                                            <div class="quantity buttons_added">
                                                <button type="button" class="minus">-</button><input data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="integer" type="number" step="1" min="1" max="9000" name="revQty" th:value="${itemReq.qtyRev}" title="Qty" class="input-text qty text" ><button type="button" class="plus">+</button>
                                            </div>
                                        </td>
                                        <td><input name="revRemarks" th:value="${itemReq.itemRemarks}"/></td>
                                        <td><a th:text="${itemReq.inventory.outlet.outletName}"></a></td>
                                            <td class="text-center d-print-none">
                                                <div class="btn-group">
                                                    <a type="button" th:href="@{'/app/so/prItem/remove/'+${itemReq.requestItemId}+'/'+${itemReq.purchaseRequest.purchaseReqId}}" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-body-dark">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h3 class="block-title"><b> Ver.<a th:text="${pr.version}"></a></b><small> revisi terakhir oleh <a th:text="${pr.lastModifiedBy}"></a> pada <a th:text="${pr.lastModifiedDate != null ? #dates.format(pr.lastModifiedDate, 'HH:mm:ss dd-MM-yyyy') : ''}"></a></small></h3>
                    </div>
                </div>
                    <div class="form-group col row d-print-none">
                        <div class="md-10">
                            <input type="submit" name="action" value="Save" class="btn btn-hero btn-sm btn-rounded btn-noborder btn-success"/>
                                <!--<i class="fa fa-save mr-5"></i> Simpan</input>-->
                        </div>
                        <div class="md-10" sec:authorize="hasRole('ROLE_APPROVAL')">
                            <input type="submit" name="action" value="Submit" class="btn btn-hero btn-sm btn-rounded btn-noborder btn-warning"/>
                                <!--<i class="fa fa-upload mr-5"></i> Submit</input>-->
                        </div>
                        <div class="md-10">
                            <a onclick="goBack()" class="btn btn-hero btn-sm btn-rounded btn-noborder btn-alt-secondary">
                                <i class="fa fa-close mr-5"></i> Batal
                            </a>
                            <script>
                                function goBack() {
                                    window.history.back();
                                }
                            </script>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </main>
</div>

<div th:replace="layout :: page-footer"></div>

<div th:replace="layout :: body-bottom-scripts"></div>
<script th:src="@{/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/js/plugins/DataTables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/plugins/moment/datetime.js}"></script>
<script th:src="@{/assets/js/jquery.spring-friendly.js}"></script>
<!--Page JS Code -->
<script>
    jQuery(function () {
        Codebase.helpers(['select2', 'tags-inputs', 'datepicker']);
    });
</script>
<script>
    $(document).ready(function() {
        $('#detTbl').DataTable( {
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal( {
                        header: function ( row ) {
                            var data = row.data();
                            return 'Details for '+data[0]+' '+data[1];
                        }
                    } ),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                }
            }
        } );
    } );
</script>
</body>
</html>