<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head th:replace="layout :: common-header">
    <title>E-Customer Register</title>
</head>
<body>
<style>
    .modal-lg {
        max-width: 80%;
    }
</style>
<div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/control-sidebar"></div>
    <div th:replace="fragments/sidebar"></div>

    <main id="main-container" style="min-height: 630px;">
        <div class="bg-image" th:style="'background-image: url(' + @{/assets/img/photos/photo26@2x.jpg} + ');'">
            <div class="bg-black-op-75">
                <div class="content content-top content-full text-center">
                    <div class="py-20">
                        <h1 class="h2 font-w700 text-white mb-10">Purchase Requisition</h1>
                        <h2 class="h4 font-w400 text-white-op mb-0">Anda berada dimenu Purchase Requisition, untuk keperluan permintaan barang kepada kantor pusat.</h2>
                    </div>
                </div>
            </div>
        </div>
        <form class="validasi" action="/app/purchasing/request/submit" th:autocomplete="off" th:object="${itemReqForm}" method="post" data-parsley-validate="true" data-parsley-errors-messages-disabled="true">
        <div class="content">
            <div class="input_fields_wrap">
                <div class="block">
                    <div class="p-10 bg-primary-darker block-header block-header-default">
                        <h3 class="block-title text-white">Purchase Request</h3>
                        <div class="block-options">
                            <button type="button" class="button btn-alt-primary btnmodal" data-toggle="modal" data-target="#myModal" contenteditable="false" >
                                Masukan barang permintaan <i class="si si-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row row-deck gutters-tiny">
                            <!-- Billing Address -->
                            <div class="col-md-6">
                                <div class="block block-rounded">
                                    <div class="p-10 bg-primary-dark block-header block-header-default">
                                        <h3 class="block-title text-white">Tujuan Permintaan</h3>
                                    </div>
                                    <div class="block-content">
                                        <label class="small">Tujuan :</label>
                                        <div class="font-size-lg text-black mb-5">Head Office</div>
                                        <address>
                                            <!--5110 8th Ave<br>-->
                                            <!--New York 11220<br>-->
                                            <!--United States<br><br>-->
                                            <!--<i class="fa fa-phone mr-5"></i> (999) 111-222222<br>-->
                                            <!--<i class="fa fa-envelope-o mr-5"></i> <a href="javascript:void(0)">company@example.com</a>-->
                                        </address>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <label for="remarks">Untuk Penggunaan :</label>
                                                <div class="input-group">
                                                    <textarea title="Alasan" data-parsley-required="true" data-parsley-required-message="Wajib diisi" th:maxlength="200" class="form-control" id="remarks" name="remarks" rows="2" placeholder="Alasan.."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-alt-primary">Kirim Permintaan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Billing Address -->

                            <!-- Shipping Address -->
                            <div class="col-md-6">
                                <div class="block block-rounded">
                                    <div class="p-10 bg-primary-dark block-header block-header-default">
                                        <h3 class="block-title text-white">Informasi Pemohon</h3>
                                    </div>
                                    <div class="block-content">
                                        <label class="small">Diminta oleh</label>
                                        <div class="font-size-lg text-black mb-5"><a th:text="${#request.userPrincipal.principal.firstName}+' '+${#request.userPrincipal.principal.lastName}"></a></div><input name="user" th:hidden="true" th:value="${#request.userPrincipal.principal.masterLocation}"/>
                                        <address>
                                            <a th:text="${#request.userPrincipal.principal.masterLocation.locationName}"></a><br><input name="masterLocation" th:hidden="true" th:value="${#request.userPrincipal.principal.masterLocation.locationId}"/>
                                            <i class="fa fa-phone mr-5"></i><br>
                                            <i class="fa fa-envelope-o mr-5"></i> <a th:text="${#request.userPrincipal.principal.email}" href="javascript:void(0)"></a>
                                        </address>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <label for="date-request">Tanggal Pakai</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text form-control form-control-sm">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                </div>
                                                <input title="Tanggal Penggunan" data-parsley-required="true" data-parsley-required-message="Wajib diisi" type="text" class="js-datepicker form-control form-control-sm" id="date-request"
                                                       name="useDate" data-week-start="1" data-autoclose="true"
                                                       data-today-highlight="true" data-date-format="yyyy/mm/dd"
                                                       placeholder="yyyy-MM-dd"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Shipping Address -->
                        </div>
                        <!-- END Addresses -->
                        <!-- Full Table -->
                        <div class="block">
                            <div class="block-content">
                                <p>Berikut adalah daftar list barang yang akan direquest kepada <code>Head Office</code>. Silahkan tambahkan item yang akan direquest, dengan klik tombol (Masukan barang permintaan) diatas.
                                Pastikan item dan kuantiti yang telah anda masukan sesuai dengan kebutuhan</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-vcenter">
                                        <thead>
                                        <tr>
                                            <th class="text-left" style="width: 15%;">Barcode</th>
                                            <th>Nama Barang</th>
                                            <th style="width: 8%;">Satuan</th>
                                            <th class="text-center">Qty</th>
                                            <th class="text-center">Catatan</th>
                                            <th class="text-center" style="width: 10px;">Aksi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="itemCarts : ${itemCart.entrySet()}">
                                                <td class="text-left"><div th:inline="text" class="col-md-2"><input type="hidden" name="itemId" th:value="${itemCarts.getValue().inventory.invId}"></div>[[${itemCarts.getValue().inventory.masterItem.itemBarcode}]]</td>
                                                <td th:inline="text" class="font-w600"><input type="hidden" name="itemName" th:value="${itemCarts.getValue().inventory.masterItem.itemName}">[[${itemCarts.getValue().inventory.masterItem.itemName}]]</td>
                                                <td th:inline="text" ><input type="hidden" name="unitName" th:value="${itemCarts.getValue().inventory.masterItem.unitItem.unitName}">[[${itemCarts.getValue().inventory.masterItem.unitItem.unitName}]]</td>
                                                <td >
                                                <div class="quantity buttons_added">
                                                    <button type="button" class="minus">-</button><input data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="integer" type="number" step="1" min="1" max="9000" name="quantity" th:value="${itemCarts.getValue().qtyReq}" title="Qty" class="input-text qty text" ><button type="button" class="plus">+</button>
                                                </div>
                                            </td>
                                                <td th:inline="text">
                                                <input type="text" name="itemRemarks" th:value="${itemCarts.getValue().itemRemarks}" th:maxlength="30" />
                                            </td>
                                                <td class="text-center">
                                                <div class="btn-group">
                                                    <!--<a type="button" th:href="@{'/app/purchasing/request/updateItem/{itemId}'(itemId=${itemCarts.getKey().masterItem.itemId})}" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Tambah">-->
                                                        <!--<i class="fa fa-plus-circle"></i>-->
                                                    <!--</a>-->
                                                    <a type="button" th:href="@{'/app/purchasing/request/removeItem/'+ ${itemCarts.getValue().inventory.invId}}" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END Full Table -->

                    </div>
                </div>
            </div>
        </div>
        </form>
    </main>
</div>

<div th:replace="layout :: page-footer"/>

<!-- Modal Lokasi Baru -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-popin" role="document">
        <div class="modal-content">
            <div class="block-header bg-primary-dark">
                <h3 class="block-title text-body-bg-light">List nama item</h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                        <i class="si si-close"></i>
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="block-content block-content-full">
                    <p>Silahkan pilih barang yang akan anda minta dan masukan qty yang diperlukan.</p>
                    <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                    <table id="inv" class="table table-responsive table-borderless table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>Pilih</th>
                            <th class="text-left">Barcode</th>
                            <th class="" >Nama Item</th>
                            <th class="d-none d-sm-table-cell">Unit</th>
                            <th class="text-center">Stok</th>
                            <th class="text-center">Outlet</th>
                            <th class="text-center">Lokasi</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">Keterangan</th>
                            <!--<th class="text-center">Masukan Item</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Lokasi Baru -->


<div th:replace="layout :: body-bottom-scripts"></div>
<script th:src="@{/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/js/plugins/parsley/dist/parsley.min.js}"></script>
<script th:src="@{/assets/js/plugins/parsley/dist/i18n/id.js}"></script>

<script th:src="@{/assets/js/plugins/DataTables/datatables.min.js}"></script>
<script th:src="@{/assets/js/jquery.spring-friendly.js}"></script>
<script>
    jQuery(function () {
        Codebase.helpers(['select2', 'tags-inputs', 'datepicker']);
    });
</script>
<script>
    jQuery(function() {
        var datepicker = $('input.js-datepicker');
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $('#date-request').datepicker({
            minDate: today
        });
    });
</script>
<script>
    $(document).ready(function() {
        var table = $('table#inv').DataTable({
            'ajax': '/app/inventory/list',
            'serverSide': true,
            dom: 'Bfrtip',
            pageLength: 5,
            select: {
                style: 'multi'
            },
            language: {
                "lengthMenu": "Menampilkan _MENU_ record per halaman",
                "zeroRecords": "Data tidak ditemukan",
                "info": "Menampilkan halaman _PAGE_ dari _PAGES_",
                "infoEmpty": "Tidak ada data ditemukan.",
                "infoFiltered": "",
                "processing": "Proses menampilkan data...",
                select: {
                    rows: {
                        _: "Kamu memilih %d barang",
                        0: "Silahkan pilih barang",
                        1: "Hanya 1 item yang terpilih",
                    }
                }
            },
            columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
            } ],
            columns: [
                {
                    "data": "invId", defaultContent: '', orderable: false, "bSearchable": false,
                    render: function (data) {
                        return '<input type="hidden" name="itemId" value="'+data+'"/>';}
                },
                {
                    "data": "masterItem.itemBarcode"
                },
                {
                    "data": "masterItem.itemName"
                },
                {
                    "data": "masterItem.unitItem.unitName",
                },
                {
                    "data": "stock",
                    render: function (data) { return data ? data : 'Kosong'; }
                },
                {
                    "data": "outlet.outletName"
                },
                {
                    "data": "masterLocation.locationName",
                    render: function (data) { return data ? data : '-'; }
                },
                {
                    "data": "stock",
                    render: function (data) {
                        return '<input data-parsley-validation-threshold="1" data-parsley-trigger="keyup" data-parsley-type="integer" type="number" step="1" min="1" max="9000" name="quantity" value="'+data+'" title="Qty" class="input-text qty text" >';
                    }
                },
                {
                    "data": "null", defaultContent: '', orderable: false, "bSearchable": false,
                    render: function (data) {
                        return '<input type="text" name="itemRemarks" value="'+data+'"/>';}
                },
            ],
            buttons: [
                {
                    text: 'Pilih Semua',
                    action: function () {
                        table.rows().select();
                    }
                },
                {
                    text: 'Hapus tanda',
                    action: function () {
                        table.rows().deselect();
                    }
                },
                {
                    text: 'Masukan pilihan',
                    action: function (e) {
                        e.preventDefault();
                        //var s = table.rows('.selected').data();
                        var selectedRowInputs = $('.selected input').serialize();

                        //use the serialized version of selectedRowInputs as the data
                        //to be sent to the AJAX request
                        var getUrl = window.location;
                        var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];

                        $.ajax({
                            type: "GET",
                            url: baseUrl + "/purchasing/request/addItem/?" + selectedRowInputs
                        })
                        console.log(selectedRowInputs);

                        $('#inv').modal('hide');
                        location.replace(baseUrl + "/purchasing/request");


                    }
                }
            ]
        })
    });
</script>
</body>
</html>