<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout">
<head th:replace="layout :: common-header">
    <title>E-Customer Register</title>
</head>
<body>
<style>
    .modal-lg {
        max-width: 80%;
    }
</style>
<div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-glass page-header-inverse main-content-boxed side-trans-enabled">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/control-sidebar"></div>
    <div th:replace="fragments/sidebar"></div>

    <main id="main-container" style="min-height: 630px;">
        <div class="bg-image" th:style="'background-image: url(' + @{/assets/img/photos/photo26@2x.jpg} + ');'">
            <div class="bg-black-op-75">
                <div class="content content-top content-full text-center">
                    <div class="py-20">
                        <h1 class="h2 font-w700 text-white mb-10">Purchase Request</h1>
                        <h2 class="h4 font-w400 text-white-op mb-0">PT Cahaya Mapan Moro Anugrah</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="content">
            <!-- Page Content -->
            <div class="content">
                <!-- Invoice -->
                <h2 class="content-heading d-print-none">
                    <form method="get" th:action="@{'/app/purchasing/so/revPR'}">
                        <input type="hidden" th:value="${pr.purchaseReqId}" name="getPR"/>
                        <button type="submit" class="btn btn-sm btn-rounded btn-success float-right">Proses PR</button>
                    </form>
                    Detail Purchase Request
                </h2>
                <div class="block">
                    <div class="block-header block-header-default">
                        <h3 class="block-title"><a th:text="${pr.purchaseRequestNumber}"></a></h3>
                        <div class="block-options">
                            <!-- Print Page functionality is initialized in Codebase() -> uiHelperPrint() -->
                            <button type="button" class="btn-block-option" onclick="Codebase.helpers('print-page');">
                                <i class="si si-printer"></i> Print Purchase Request
                            </button>
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                <i class="si si-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <!-- Invoice Info -->
                        <div class="row my-20">
                            <!-- Company Info -->
                            <div class="col-6">
                                <p class="h3"><a th:text="${pr.masterLocation.locationName}"></a></p>
                                <address>
                                    <a th:text="${pr.masterLocation.address}"></a><br>
                                    <a class="font-w600 mb-5 text-primary" th:text="${pr.user.firstName}"></a> <a class="font-w600 mb-5 text-primary" th:text="${pr.user.lastName}"></a><br>
                                    <a th:text="${pr.user.email}"></a>
                                </address>
                            </div>
                            <!-- END Company Info -->

                            <!-- Client Info -->
                            <div class="col-6 text-right">
                                <!--<p class="h3">Client</p>-->
                                <address>
                                    Tanggal pakai: <a th:text="${pr.useDate}"></a><br>
                                    <blockquote class="blockquote text-right">
                                        <p><a class="blockquote-footer">Untuk Kebutuhan</a></p>
                                        <p><a th:text="${pr.remarks}"></a></p>
                                    </blockquote>
                                </address>
                                <div th:switch="${pr.requestStatus.name()}">
                                    <span th:case="'TERTUNDA'" class="badge badge-warning"><i class="fa fa-exclamation-circle mr-5"></i>TERTUNDA</span>
                                    <span th:case="'DIPROSES'" class="badge badge-info"><i class="fa fa-info-circle mr-5"></i>DIPROSES</span>
                                    <span th:case="'SELESAI'" class="badge badge-success"><i class="fa fa-check mr-5"></i>SELESAI</span>
                                    <span th:case="'DIBATALKAN'" class="badge badge-danger"><i class="fa fa-times-circle mr-5"></i>DIBATALKAN</span>
                                    <span th:case="'REVISI'" class="badge badge-secondary"><i class="fa fa-home mr-5"></i>REVISI</span>
                                </div>
                            </div>
                            <!-- END Client Info -->
                        </div>
                        <!-- END Invoice Info -->

                        <!-- Table -->
                        <div class="table-responsive push">
                            <table class="table table-bordered table-striped table-hover" >
                                <thead>
                                <tr>
                                    <th class="text-center" style="width: 60px;">No</th>
                                    <th>Produk</th>
                                    <th class="text-right" style="width: 120px;">Unit</th>
                                    <th class="text-center" style="width: 90px;">Qty</th>
                                    <th class="text-right" style="width: 120px;">Catatan</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="itemReq, iterator : ${itemList}">
                                    <td class="text-center" th:text="${iterator.index + 1}"></td>
                                    <td><p class="text-muted"><a th:text="${itemReq.inventory.masterItem.itemBarcode}"></a></p>
                                        <div class="font-w600 mb-5"><a th:text="${itemReq.inventory.masterItem.itemName}"></a></div>
                                    </td>
                                    <td class="text-right"><a th:text="${itemReq.inventory.masterItem.unitItem.unitName}"></a></td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-primary"><a th:text="${itemReq.qtyReq}"></a></span>
                                    </td>
                                    <td class="text-right"><a th:text="${itemReq.itemRemarks}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Table -->

                        <!-- Footer -->
                        <p class="text-muted text-center">Thank you very much for doing business with us. We look forward to working with you again!</p>
                        <!-- END Footer -->
                    </div>
                </div>
                <!-- END Invoice -->
            </div>
            <!-- END Page Content -->

        </div>
        <!-- END Page Content -->
    </main>
</div>

<div th:replace="layout :: page-footer"></div>


<div th:replace="layout :: body-bottom-scripts"></div>
<script th:src="@{/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/assets/js/plugins/DataTables/datatables.min.js}"></script>
<script th:src="@{/assets/js/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/plugins/moment/datetime.js}"></script>
<script th:src="@{/assets/js/jquery.spring-friendly.js}"></script>
<script th:src="@{/assets/js/pages/pr-list.js}"></script>
<!--Page JS Code -->
<script>
    jQuery(function () {
        Codebase.helpers(['select2', 'tags-inputs', 'datepicker']);
    });
</script>
</body>
</html>